export DATABASE_MONGODB_URI=
export DATABASE_MONGODB_DBNAME=daredevil
export DATABASE_MONGODB_MAXIMUM_CONNECTION_ATTEMPTS=5
export RABBITMQ_HOSTNAME=localhost
export RABBITMQ_PROTOCOL=amqp
export RABBITMQ_PORT=5672
export RABBITMQ_USERNAME=
export RABBITMQ_PASSWORD=
export RABBITMQ_MAXIMUM_CONNECTION_ATTEMPTS=5
export DEBUG=daredevil:presentation:rabbitmq:message:*
